<div class="container-xs-padding">
  <div class="row">
    <div class="col-xs-12" ng-if="!showOrders">
      <h3>{{ordersMsg}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showOrders">
      <button ng-click="doUpdateData()" class="btn btn-primary pull-right" type="button">
        Actualizar<span class="glyphicon glyphicon-refresh" style="padding:5px; padding-left:10px;"></span>
      </button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Tipo base</th>
            <th>Grupo de ordenes</th>
            <th>Tipo</th>
            <th>Prioridad</th>
            <th>Estado</th>
            <th>Sitio</th>
            <th>Responsable</th>
            <th>Cliente</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in orders">
            <td class="td-width-90"><a ng-href="#/details/{{order.caseId}}"><p ng-bind="order.caseId"></p></a></td>
            <td class="td-width-250">{{order.description}}</td>
            <td class="td-width-90">{{order.baseType}}</td>
            <td class="td-width-90">{{order.groupId}}</td>
            <td class="td-width-180">{{order.typeId}}</td>
            <td class="td-width-90">{{order.priorityId}}</td>
            <td class="td-width-90">{{order.status}}</td>
            <td class="td-width-90">{{order.siteId}}</td>
            <td class="td-width-90">{{order.responsible}}</td>
            <td class="td-width-90">{{order.custAccount}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>